/* reglas
selectore
declaraciones
propiedades
valores */

/* header {
    background-color : pink !important  ;
    color: red 
} */

/* selector de etiqueta 
-nombre de la etiqieta directa

selector descendente
-elemento hijo de otro elemento

body header div nav ol li a {}
------------selector de clase o de id-------
.nombre_de_la_clase = selector de clase
#nombre_del_id

*/
@font-face {
    font-family: "njnaruto";
    src: url(../fonts/ninja_naruto/njnaruto.ttf);
}
/* ---------------ICONO----------------------- */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?wxz7wk');
    src:  url('../fonts/icomoon.eot?wxz7wk#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?wxz7wk') format('truetype'),
      url('../fonts/icomoon.woff?wxz7wk') format('woff'),
      url('../fonts/icomoon.svg?wxz7wk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-wight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu_anbu:before {
    content: "\e900";
}
/* -------------------------------------------------------- */
/* -----------------Fuente naruto-------------------------- */
/*----------------------------------------------------------*/
.burguer-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(0,0,0,.8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index:4;
    left:5px;
    top: 5px;
    color: white;
}
body{
    font-family: 'Source Sans Pro',sans-serif;
    margin: 0;
}
.logo{
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic */
    letter-spacing: -.2px
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */   
}
h1{
    font-size: 40px;
    line-height: 1.5em;
    color: white;
    /* margin: 10px 20px 7px 3px; */
    margin: 0px;
}
h1 strong {
    color: cornflowerblue;
}
h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}


.content{
    /* border-top: 5px solid red;
    border-right: 5px solid green;
    border-left: 5px solid orange;
    border-bottom: 5px solid pink; */
    /* border-color: red; */
    /* border-top-color: red; */
    /* color: blue; */
    /* border-width: 5px;
    border-style: solid; */
    /*border: 1px solid gray;
    border-radius: 10px;*/
    /* border-top-left-radius: 50px; */
    /*margin: 10px;
    margin-bottom: 15px;
    padding: 20px;*/
    background: #fafafa;
    padding: 20px 
    
}
.exclusive_content{
    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 50px; */
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.excont-details{
    width: 50%;
}
.excont-imageContainer{
    width: 50%;
}
.excont-imageContainer img {
    max-width: 100%;
}
.excont-title{
    font-size : 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.excont-name_product, 
.excont-release_date,
.excont-url_page {
    margin : 10px 0px;
}
.excont-description{
    font-size: 20px;
}
.project strong {
    font-family: 'Fjalla One', sans-serif;
}
.hero{
    height: 300px;
    /* background-image: url('../images/hero_anbu.jpg'); */
    background-color: #1b2127;
    /* background-size: 600px 500px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero-image{
 width: 400px;
 object-fit: cover;   
}
.header{
    background-color:#1b2127;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    flex-wrap: wrap;
}
.header a {
    color: white;
    text-decoration: none;
}
.header a:hover{
    /* color:black; */
    /* background-color:#6495ed; */
    border-bottom: 2px solid white;
    /* font-size: 25px; */
    /* transition-duration: 0.4s; */
}
.header figure img {
    height: 150px;
    width: 90px;
}
.menu {
    height: inherit;
}
.header ol {
    display: flex;
    height: inherit;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.header ol li {
    height: inherit;
}
.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 20px;
}

.flexbox{
    display: flex;
    /* flex-direction: column; *//*direccion de la flexibilidad de la caja*/
    flex-wrap: wrap; /*realiza el efecto de caida de caja cuando se llega al limite de ancho (nowrape realiza lo inverso)*/
}
.box{
    width: 50px;
    height: 50px;
    border : 1px solid red;
    flex-shrink: 0;/*Controla el porcentaje de flexibilidad que puede adoptar una caja desde 0(ninguna) hasta 1(100%)*/
    margin: 5px;
}
.footer{
    color: white;
    background-color: #1d252c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer p img {
    height: 60px;
    width: 30px;
    vertical-align: middle;
}
/* estilos bestseller */
.best_seller{
    /* border: 1px solid red; */
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}
.bestseller-title{
    margin-left: 20px;
}
.best_seller img {
    width: 100%;
    height: 300px;
    margin: 0px;
    object-fit: cover;
}
.best_seller-imageContainer {
    margin: 0;
}
.best_seller-content{
    display: flex;
    flex-wrap: wrap;
}
.best_seller-details{
    margin: 20px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.best_seller-description{
    text-align: left;
}
.best_seller-url{
    color:#056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.social {
    /* border:1px solid red; */
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    /* border:1px solid white; */
    margin: 0 10px;
    background-size: 50px 50px;
}
.social-link.twitter{
    background-image: url(../images/logo_twitter_4.png);
}
.social-link.facebook{
    background-image: url(../images/logo_facebook_4.svg);
}
.social-link.github{
    background-image: url(../images/logo_gitub.svg);
}
.social-link.instagram{
    background-image: url(../images/logo_instagram_2.png);
}
/* FORMULARIO */
.form-email input{
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    background-image: url(../images/envelope.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.form-email button {
    display: block;
    /* margin-top: 10px; */
    background:transparent;
    color:white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    /* margin: 10px auto 0; */
    margin-top: 10px;   
}
.form-email h3{
    font-family: 'Source Sans Pro',sans-serif; 
}
.container{
    /* border: 1px solid red; */
    /* width: 1000px; */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}
/* MEDIA QUERIES */
/* DESKTOP FIRST LOS MEDIA QUERIES DEBEN INICIAR DESDE EL MAS GRANDE */
.html-video{
    width: 100%;
    height: auto;
    /* max-width: 100%; */
}
.youtube-video{
    /* width: 100%;
    height: auto; */
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.flexible-video {
    width: 100%;
    height: 0;
    background: blue;
    padding-top: 56.25%;
    position: relative;
}
/* ------------------MEDIDAS ESTANDAR  (1024 - 768 - 480 - 320 )*/
@media screen and (max-width: 1023px) {
    .container {
        padding: 0 1em;
    }
    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
        background: rgba(0,0,0,.5);
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        top     : 0;
        right   : 0;
        bottom  : 0;
        left    : 0;
        width: 100%;
    
    }
}
@media screen and (max-width: 767px) {
    /*body{
        border : 10px solid green;
    }*/
    h2 {
        font-size: 1.2em;
        margin: .5em 0;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        font-family: "njnaruto";
        /* text-decoration: underline; */
        border:1px solid white;
        margin-bottom: .4em;
    }
    .header .logo {
        text-align: center;
    }
    .logo{
        height: 150px;
    }
    .menu{
        position: fixed;
        /* background: red; */
        background: rgba(100, 149, 237,.9);
        /* background-color: rgb(100, 149, 237); */
        z-index: 3;
        left:-100vw;
        top:0;
        width: 100vw;
        /* height: 100vh; */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left:0;
    }
    .exclusive_content {
        display: block;
    }
    .excont-details {
        width: auto;
        /* font-size: 16px; */
    }
    .excont-release_date ,.excont-release_date ,.excont-url_page {
        margin: .4em 0;
    }
    .excont-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .excont-url_page{
        font-size: 1em;
    }
    .excont-name_product{
        font-size: .9em;
    }
    .excont-release_date{
        font-size: 1em;
    }
    .excont-description{
        font-size: 1em;
    }

    .excont-imageContainer {
        width: auto;
        text-align: center;
    }
    .burguer-button {
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .excont-details {
        width: auto;
        font-size: 15px;
    }
    .best_seller{
        width: auto;
        flex-shrink: initial;
    }
    .best_seller-details{
        /* margin: -40px 10px 10px 10px; */
        margin: -2em .5em .5em;
        padding: 1em;
    }
    .contact {
        height: auto;
        padding: 1.5em 0;
        display: block;
        text-align: center;
    }
    .form-email button {
        margin : 1em auto;
    }
    .form-email h3 {
        margin-top: 0;
    }
    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    h1{
        font-size: 1.5em;
    }
    .header a {
        font-size: 1.4em;
    }
    .social-link {
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
}

@media screen and (max-width: 320px) {
    h1{
        font-size:1.2em;
    }
    .hero{
        padding: 2em 1em;
    }
    .header a {
        font-size: 1em;
    }
}